body {
    margin: 20px;
    border: 5px;
    padding: 15px;

}

h1 {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    /* margin-top: 40px; */
}

h3 {
    color:midnightblue;
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    padding-bottom: 40px;
}

ul { 
    list-style: none;
}

.nav a{
    text-decoration: none;
}

.nav ul{
    margin: 0;
    padding: 0;
}

.nav li { 
    float: left;
}

.nav li a{

    display: block;
    /* text-align: center;
    text-decoration: none; */
    padding: 16px;
}

.jobs {
    text-align: center;
    text-decoration: none;
}

/* .social {
    text-align: center;
    text-decoration: none;
} */

/* ul .meta {
    display: inline-block;
} */

.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
